
<h2>Favorites</h2>

<% favorites.forEach(favorite =>{%> 
    <div>
        <ul>
               <li>
                <p> <%= favorite.name %></p>
                <img src="<%= favorite.image %>" alt=""></p>
                <a href="favorite/<%=favorite.uuid%>"><button>Get Details</button></a>
                    <button> Change Skin</button>
                  
                    <form action="favorite/<%= favorite.id %>/?_method=DELETE" method="post">
                        <p></p>
                        <button>Remove Favorite</button>
                    </form>
               </li>
        </ul>
    </div>
    <% }) %> 

   
    