<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creatube</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="https://i.pinimg.com/originals/89/6e/0a/896e0ad35109cb86273693350ccdd559.png" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="./styles.css"> -->
    <style>
      .fixedNav{
        height: 80px;
        display: fixed;
      }
      .main{
        margin :80px 0px 0px 0px;
        position: relative;
      }
    </style>
</head>
<body>
      <nav class="navbar fixedNav fixed-top bg-light navImage">
          <div class="container-fluid">
            <a class="navbar-brand" href="/users/profile">
              <img src="https://toppng.com/uploads/preview/valorant-logo-icon-11608279985p9bg0vbcxu.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
              Creatube
            </a>
                   <% if (user) { %>
                              <a href="/users/armory"> <button type="button" class="btn btn-outline-success">Weapon</button> </a>
                              <a href="/users/favorite/images"> <button type="button" class="btn btn-outline-warning">Images</button> </a>
                              <a href="/users/favorite/video"> <button type="button" class="btn btn-outline-dark">Videos</button> </a>
                              <a href="/users/favorite"> <button type="button" class="btn btn-outline-info">Favorite</button> </a>
                              <a href="/users/profile"> <button type="button" class="btn btn-outline-secondary">Profile</button> </a>                           
                              <a href="/users/logout"> <button type="button" class="btn btn-outline-danger">Logout</button> </a>                           
                  <% } else { %>
                              <a href="/users/new"> <button type="button" class="btn btn-outline-warning">Sign In</button> </a>
                              <a href="/users/login"> <button type="button" class="btn btn-outline-info">Log in</button> </a>            
                  <% } %> 
  
  
            
           
              <!-- if the user is logged in... -->
              <!-- all data in the res.locals is usuable in the layout -->
              
          </div>
        </nav>
    
    <div class="main ">
      <%-body%> 
    </div>
</body>
<script>
    console.log("hi")
         const image = document.querySelectorAll(".imageDiv")
         const body = document.querySelector("body")
         const like = document.querySelector("#like")
         const dislike= document.querySelector("#dislike")
         image.forEach(img =>{
          img.addEventListener("mouseover",()=>{
            
               img.classList.add("shadow-lg")
               
               
               setTimeout(function() {
                img.classList.remove("shadow-lg")
                setTimeout(function() {
                  img.classList.add("shadow-lg")
                }, 20);
              }, 30);
              
             })
            })
            console.log(like)

            
        
            
            
    </script>
</html>