<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="./styles.css"> -->
    <style>
        body{
            background-image: url("https://images.contentstack.io/v3/assets/bltb6530b271fddd0b1/bltbded518020183769/5eb26f5389bac8148a8006cc/agent-background-generic.JPG");
        }
        .imageDiv{
            width :300px;
            height:300px;
            margin: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .weaponName{
            text-decoration: none;
            font-size: 35px;
            font-style:italic;
            color: rgb(238, 59, 78);
        }
        a{
            text-decoration: none;
            font: 15px;
        }
        .carouselDiv{
            width :600px;
            height:400px;
            display:relative;
        }
        .item{
            width: 300px;
            height: 300px;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        .whiteBackground{
            background-color: white;
            padding: 50px 0px 0px 0px;
            margin: 0px 100px 10px 100px;
            
        }
        /* .navImage{
            background-image: url("https://wallpaperboat.com/wp-content/uploads/2020/06/04/43354/valorant-18.jpg") ;
            background-position: center;
            background-size: cover;
        } */
        .navigate{
            margin: 0px 40px;
        }
        button{
            margin: 20px;
        }
        </style>
</head>
<body>
    
    <nav class="navbar bg-light navImage">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="https://cdn.dribbble.com/userupload/3158902/file/original-7c71bfa677e61dea61bc2acd59158d32.jpg?resize=400x0" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Creatube
          </a>
                 <% if (user) { %>
                            <a href="/users"> <button type="button" class="btn btn-outline-primary">Home</button> </a>
                            <a href="/users/armory"> <button type="button" class="btn btn-outline-success">Guns</button> </a>
                            <a href="/users/armory"> <button type="button" class="btn btn-outline-success">Characters</button> </a>
                            <a href="/users/favorite"> <button type="button" class="btn btn-outline-secondary">Favorite</button> </a>
                            <a href="/users/profile"> <button type="button" class="btn btn-outline-danger">Profile</button> </a>                           
                            <a href="/users/logout"> <button type="button" class="btn btn-outline-danger">Logout</button> </a>                           
                <% } else { %>
                            <a href="/users/new"> <button type="button" class="btn btn-outline-warning">Sign In</button> </a>
                            <a href="/users/login"> <button type="button" class="btn btn-outline-info">Log in</button> </a>            
                <% } %> 


          
         
            <!-- if the user is logged in... -->
            <!-- all data in the res.locals is usuable in the layout -->
            
        </div>
      </nav>
    <%-body%> 
</body>
<script>
    console.log("hi")
         const image = document.querySelectorAll(".imageDiv")
        
         image.forEach(img =>{
          img.addEventListener("mouseover",()=>{
               img.classList.add("shadow-lg")
             })
            })
    </script>
</html>