
<h2>New Gun Model</h2>
<form action="/1" method="post">
    <div>
        <p>
            <label for="uuid">uuid:</label>
        </p>
        <input type="text" name="uuid" id="uuid" >       
    </div>
    <div> 
        <p>
            <label for="name">displayName:</label>
        </p>
        <input type="text" name="name" id="name" > 
    </div>
    <div>
        <p>
            <label for="stats">Stats:</label>
        </p>
        <input type="text" name="stats" id="stats" >
    </div>
    <div>
        <p>
            <label for="video">Video-Link:</label>
        </p>
        <input type="text" name="video" id="video" >
    </div>
    <div>
        <p>
            <label for="userId">userId:</label>
        </p>
        <input type="text" name="userId" id="userId" >
    </div>
    <p></p>
    <button>Submit</button>
</form>