<form action="/projects" method="post">
    <label for="uuid">uuid:</label>
    <input type="text" name="uuid" id="uuid" >
    
    <label for="name">Display-Name:</label>
    <input type="text" name="name" id="name" >

    label for="stats">Stats:</label>
    <input type="text" name="stats" id="stats" >

    label for="video">Video-Link:</label>
    <input type="text" name="video" id="video" >

    label for="userId">userId:</label>
    <input type="text" name="userId" id="userId" >
</form>